.content{
margin-left: 148px;
}

.content_section{
width: 830px;
height: 607px;
display: flex;
flex-direction: column;




}

.content__section__title{
width: 830px;
height: 173.92px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
color: #FFFFFF;


}

.content__section__content{
width: 738px;
height: 135.66px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;
}
.content__section__autor{
width: 732px;
height: 33.91px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.content__section__information{
width: 722px;
height: 181.54px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
}

@media screen and (max-width:768px){
    
.content{
margin: 0 auto;



}

.content_section{
width: 720px;
height: 573px;
display: flex;
flex-direction: column;



}

.content__section__title{

width: 707px;
height: 147px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 49px;
color: #FFFFFF;




}

.content__section__content{

width: 720px;
height: 136px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;


}

.content__section__autor{

width: 720px;
height: 34px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;



}

.content__section__information{

width: 720px;
height: 182px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;



}
}

@media screen and (max-width:320px){

.content{
margin: 0 auto;
}

.content_section{
width: 288px;
height: 1033px;
display: flex;
flex-direction: column;
}

.content__section__title{
width: 288px;
height: 175px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
color: #FFFFFF;
}

.content__section__content{

width: 288px;
height: 300px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
}

.content__section__autor{
width: 288px;
height: 34px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.content__section__information{
width: 288px;
height: 442px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
}
}