
.content__lead{
 
display: flex;
flex-direction: column;
align-items: center;
    

}
.content__lead-title{

width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
color: #FFFFFF;
text-align: center;

}

.content__lead-subtitle{

width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;


}

.content__image-content{
    width: 984px;
    height: 615px;
     mix-blend-mode: luminosity;
     background-color:#000000;
    
     margin: 0 auto;
     text-align: center;

     
}


.content__section{
display: flex;
flex-direction: column;
/*width: auto;*/
/*margin: 0 148px ;*/
margin: 0 auto;
max-width: 830px;



}


.content__title{
width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
color: #FFFFFF;

}

.content__subtitle{
width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;

}

.content__autor{
width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.content__information{
    width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
}


.content__grid{
    display: flex;
    flex-direction: column;
    width: auto;
    
    
      
}

.content__image{

        width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px; 

   
      
}
.content__grid-image{

    width: 100%;
    height:100%;
    
    
    
}
.content__img{
    grid-area: content__img;
    width: 100%;
    height:100%;
    margin: 0 auto;
    
}


.content__description{
    display: grid;
    grid-template-rows: auto ;
    width: 987px;
    height: auto;
    gap: 60px;
    align-self: center;
    margin-top:60px
      
}

.content__city{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 40px;
    grid-template-areas: 
    " content__CityName content__AutorCity"
    "content__img content__City-description"
    "content__button content__City-description"
    ;
}

.content__CityName{
    grid-area: content__CityName;
        font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0%;
    color: white;
    width:auto;
    height: auto;
    margin: 60px auto;
}

.content__AutorCity{
    grid-area: content__AutorCity;
    width:auto;
    height: auto;
    align-self: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #FFFFFF;
    
}

.content__AutorCity::first-line{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color:#AAAAAA;
}

.content__City-description{
    grid-area: content__City-description;
        font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width:auto;
    height: auto;
    
   
}

.content__button{
    grid-area: content__button;
    width: 298px;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding: 13px 20px;
    gap: 10px;
   
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

@media screen and (max-width:768px){
    
.content__lead-title{
width: auto;
height: auto;  
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 75px;
line-height: 79px;
text-align: center;
color: #FFFFFF;

}

.content__lead-subtitle{

width: auto;
height: auto;  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;

}

.content__image-content{
width: 100%;
height: 100%;
mix-blend-mode: luminosity;
background-color:#000000;
margin: 0;

}

.content__section{

width: auto;
height: auto;
display: flex;
flex-direction: column;
/*margin: 0 12px;/*agrgeado*/
}

.content__title{
width: auto;
height: auto;  
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 49px;
color: #FFFFFF;


}

.content__subtitle{

width: auto;
height: auto;  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;



}

.content__autor{
width: auto;
height: auto;  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;


}

.content__information{
    width: auto;
    height: auto;  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;




}



.content__grid{
    display: flex;
    flex-direction: column;
    width: auto;
    
}

.content__image{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    column-gap: 8px;
    row-gap: 8px; 
}

.content__grid-image{

    width: 100%;
    height:100%;
    justify-content: center;
}


.content__description{

    display: grid;
    grid-template-rows: auto ;/*se agrego*/
    grid-template-columns: 1fr;
    width: auto;
    margin: 0 auto;
    height: auto;
    gap: 60px;
    align-self: center;
    width: 100%;
    
}

.content__city{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    " content__CityName content__AutorCity"
    "content__img content__City-description"
    "content__button content__City-description"
    ;
    
}

.content__CityName{
    grid-area: content__CityName;
    font-family: Inter;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0%;
    color: white;
    width:auto;
    height: auto;
    align-content: center;
    
}

.content__AutorCity{
    grid-area: content__AutorCity;
    width:auto;
    height: auto;
    align-self: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.content__AutorCity::first-line{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color:#AAAAAA;
}

.content__City-description{
    grid-area: content__City-description;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    width:auto;
    height: auto;
    color: #FFFFFF;

}

.content__button{
    grid-area: content__button;
    width:auto;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding: 13px 20px;
    gap: 10px;
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.content__img{
    grid-area: content__img;
    height: 100%;
    width: 100%;

}


}

@media screen and (max-width:320px){

.content__lead-title{

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 44px;
text-align: center;
color: #FFFFFF;
height: auto;
    width: auto;
}

.content__lead-subtitle{

height: auto;
    width: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}


.content__image-content{
width: 100%;
height: 100%;
mix-blend-mode: luminosity;
background-color:#000000;


}

.content__section{
width: auto;
height: auto;
display: flex;
flex-direction: column;
/*margin-left: 16px;*/
padding: 0 16px;

}

.content__title{
    width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
color: #FFFFFF;
}

.content__subtitle{

    width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
}

.content__autor{
    width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.content__information{
    width: auto;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
}


.content__grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    
}

.content__image{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 16px;/*se agrego*/
       
}

.content__grid-image{
      width: 100%;
    height: 100%;

}


.content__description{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 60px;
    
    
    
}

.content__city{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    " content__CityName"
    "content__AutorCity"
    "content__img"
    "content__City-description"
    "content__button"
    ;
   
}

.content__CityName{
    grid-area: content__CityName;
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
    color: white;
    height: auto;
    width: auto;
    height: 35px;
    margin-left: 16px;/*se agrego*/
    
    
    
    
    
    
}

.content__AutorCity{
    grid-area: content__AutorCity;
    height: auto;
    width: auto;
    align-self: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-left: 16px;/*se agrego*/ 
    margin-top: -90px; /*se agrego*/  
    
    
    
}
.content__AutorCity::first-line{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color:#AAAAAA;
}

.content__City-description{
    grid-area: content__City-description;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    width: auto;
    color: #FFFFFF;
    padding: 0 16px;

   

}

.content__button{
    grid-area: content__button;
    width: auto;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding: 13px 20px;
    gap: 10px;
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin:0 auto
    
    
}

.content__img{
    grid-area: content__img;
    width:100%; 
    height:100%;
    
}

.content__cityName-space{
    margin-top: 100px;
}

}
