.footer{
    display: flex;
    justify-content: center;
    padding: 46px 0 24px;
}

.footer__autor{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;
color: #FFFFFF;
display: flex;
justify-content: center;
}

@media screen and (max-width:768px){
    
.footer{
  
    display: flex;
    justify-content: center;
    padding: 46px 0 24px;
    margin-top: 150px;


}

.footer__autor{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
display: flex;
justify-content: center;


}

}

@media screen and (max-width:320px){

.footer{
    display: flex;
    justify-content: center;
    padding: 46px 0 24px;
}

.footer__autor{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
display: flex;
justify-content: center;

}

}