
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header__logo{  
width: 254.84px;
height: 68.94px;
margin-top: 34px;
}
/*
.header__title{
width: 720px;
height: 200px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
color: #FFFFFF;
}
.header__subtitle{
width: 720px;
height: 72px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}

.header__image{
background-color:#000000;
    width: 984px;
    height: 615px;

}


.header__image-content{
    width: 984px;
    height: 615px;
     mix-blend-mode: luminosity;



}
*/

@media screen and (max-width:768px){
    
.header{
     display: flex;
    flex-direction: column;
    align-items: center;
        

}
.header__logo{  
    width: 254px;
    height: 66px;
    margin-top: 30px;
}
/*
.header__title{

width: 530px;
height: 158px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 75px;
line-height: 79px;
text-align: center;
color: #FFFFFF;

}

.header__subtitle{

width: 720px;
height: 72px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;

}
.header__image{
background-color:#000000;
    width: 768px;
height: 480px;

}
.header__image-content{
width: 768px;
height: 480px;
mix-blend-mode: luminosity;



}*/
}

@media screen and (max-width:320px){

.header{
     display: flex;
    flex-direction: column;
    align-items: center;
        
}
.header__logo{  
width: 188px;
height: 52px;
margin-top: 20px;
display: flex;
justify-content: center;


}

/*
.header__title{
width: 228px;
height: 88px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 44px;
text-align: center;
color: #FFFFFF;
}

.header__subtitle{
width: 288px;
height: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}

.header__image{
background-color:#000000;
width: 320px;
height: 200px;

}
.header__image-content{
width: 320px;
height: 200px;
mix-blend-mode: luminosity;


}*/
}
