.page{
width: 1280px;
height: 6026px;
background: #2A2C2F;
display: flex;
flex-direction: column;
margin: 0;
}


@media screen and (max-width:768px){
    
.page{

width: 768px;
height: 5913px;
background: #2A2C2F;
display: flex;
flex-direction: column;
margin: 0;


}
}

@media screen and (max-width:320px){

.page{
width: 320px;
height: 8432px;
background: #2A2C2F;
display: flex;
flex-direction: column;
margin: 0;

}
}