.page{
width: 1280px;
height: 2008px;
background: #2A2C2F;
display: flex;
flex-direction: column;
margin: 0;
}


@media screen and (max-width:768px){
    
.page{

width: 768px;
height: 1742px;
background: #2A2C2F;
display: flex;
flex-direction: column;
margin: 0;


}
}

@media screen and (max-width:320px){

.page{
width: 320px;
height: 1705px;
background: #2A2C2F;
display: flex;
flex-direction: column;
margin: 0;
}
}